*{
    margin: 0;
    direction: rtl;
}
body{

}
header {
    height: 4rem;
    background-color: #000;
    
}
header ul {
    display: flex;
    font-size: 1.1em;
}
header ul li {
    margin: 20px;
}
header ul li a {
    text-decoration: none;
    color: #fff;
}
header ul li a:hover {
    color:orangered;
}
#tapsi{
    margin-left: 450px; 
}

#tapsi a:hover{
    color: orangered;
}
#tapsi a {
    font-size: 1.9em;
    line-height:1vw ;
}
#line1 {
    position: absolute;
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    height: 5px;
    background-color: orangered;
}
#line2 {
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 5px;
    background-color: orangered;
}
#line1:hover{
    background-color: #fff;
}
#line2:hover{
    background-color: #fff;
}
#tapsidl {  
    border-radius: 5px;
    background:orangered;
    padding: 10px 50px 10px 50px;
}
#tapsidl:hover {
    color: black;
}
section {
    /* position: relative; */
}
section  #street{
    /* position: relative; */
    max-width: 100%;

}
section #phone {
    position: absolute;
    left: 150px;
    max-width: 500px;
    /* max-height: ; */
}
.tpbox {
    font-size: 1.5em;

    /* text-indent: 30px; */
    color: white;
    position: absolute;
    bottom: 160px;
    right: 50px;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    background-color:rgba(18, 11, 48, 0.712);
}
#bgtp {
    font-size: 2em;
    padding: 20px;
    
}
#tpcomment{
    padding-right: 20px;
    margin-bottom: 20px;
}
.tpbox ul {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 25px;
    margin: 0 auto;

}
.tpbox ul li {
    list-style: none;
}
.tpbox div {
   text-align: center;
    color: black;
    width: 200px;
    height: 50px;
    background-color: #fff;
    line-height: 50px; 
    border-radius: 15px;
    border: 2px solid #fff;
    cursor: pointer;
}
.tpbox #passnger{
    
}
.tpbox #driver {
    background-color: transparent;
    
    color: #fff;
}
.tpbox div:hover {
    color: rgb(75, 75, 75);
}
/* .icons img{
    position: flex;
    justify-content: space-between;
 
}
.icons ul  {
    margin-top: 150px;
    position: flex;

} */
.container {
    width: 1000px;
    height: auto;
    margin-right: 250px;
}

.icons{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    
}
#servise {
    margin-top: 250px;
    font-size: 2em;
    margin-right: 10px;
    
}

.icons img {
   /* margin: 20px 40px 0 0; */
    height: 50px; 
   opacity: 0.5;
}
.icons img:hover {
    opacity: 1;
}
.icons a {
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
}
.illu {
    position: relative;
}
.illu img {
    height: 250px;
}
.illu p{
    
    font-size: 1.3em;
    line-height:32px;
    margin: 20px  0 20px 60px;
    text-align: justify;
  
}

#tp-cc ,
#tp-ap ,
#tp-mp ,
#tp-pp ,
#tp-tt ,
#tp-hm ,
#tp-hk ,
#tp-tx ,
#tp-tl {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2em;
    
    
}

.tp-cc {
    display: flex; 
   
}
button {
    outline-style: none;
    padding: 20px;
    background-color:orangered;
    font-size: 1.2em;
    color: palegoldenrod;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
